$bg:  {{background}};
$bg-light: {{background | lighten(0.2)}};
$fg:  {{foreground}};
$c0:  {{color0}};
$c1:  {{color1}};
$c2:  {{color2}};
$c3:  {{color3}};
$c4:  {{color4}};
$c5:  {{color5}};
$c6:  {{color6}};
$c7:  {{color7}};
$c8:  {{color8}};
$c9:  {{color9}};
$c10: {{color10}};
$c11: {{color11}};
$c12: {{color12}};
$c13: {{color13}};
$c14: {{color14}};
$c15: {{color15}};

@define-color bg #{$bg};
@define-color bg-light #{$bg-light};
@define-color fg #{$fg};
@define-color c0 #{$c0};
@define-color c1 #{$c1};
@define-color c2 #{$c2};
@define-color c3 #{$c3};
@define-color c4 #{$c4};
@define-color c5 #{$c5};
@define-color c6 #{$c6};
@define-color c7 #{$c7};
@define-color c8 #{$c8};
@define-color c9 #{$c9};
@define-color c10 #{$c10};
@define-color c11 #{$c11};
@define-color c12 #{$c12};
@define-color c13 #{$c13};
@define-color c14 #{$c14};
